@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "ChildFunSans";
  src: url("./assets/ChildFunSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanoMyongWenFangSong";
  src: url("./assets/NanoMyongWenFangSong.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-childfun: "ChildFunSans", sans-serif;
}